---
import Layout from "src/layouts/Layout.astro";
import { Image } from "astro:assets";
import { not_found_image } from '@lib'
---

<Layout title="Error 404 - Página no encontrada" header={false} footer={false}>
    <main class="main">
        <div class="container">
            <div class="text">
                <h1>Error 404. La página que intentas acceder no existe.</h1>
                <a href="/">Volver al inicio</a>
            </div>
            <div class="container-image">
                <Image src={not_found_image} class="image" alt="Imagen 404 Not found" />
            </div>
        </div>
    </main>
</Layout>

<style>
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        width: 80%;
        margin-top: 40px;
    }

    .text{
        display: flex; 
        flex-direction: column;
        gap: 20px;
    }

    h1{
        color: var(--title);
        font-size: 40px;
    }

    a{
        text-decoration: none;
        text-align: center;
        background: var(--bg-button);
        color: var(--title);
        width: 80%;
        padding: 15px 0;
        border-radius: 10px;
        transition: 0.3s;
        box-shadow: var(--shadow-md);
    }
    a:hover{
        background: var(--title);
        color: var(--bg-button)
    }
    a:active{
        background: rgb(0, 62, 68);
        box-shadow: var(--inner-shadow);
    }
    
    @media screen and (max-width: 1023px) {
        .container{
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 10px 20px;
        }

        .container-image{
            width: 100%;
        }

        .image{
            width: 100%;
        }

        h1{
            font-size: 30px;
            width: 100%;
        }

        a{
            width: 100%;
        }
    }
</style>