---
import Layout from "src/layouts/Layout.astro";
import { Soon } from '@components'
// import { Image } from "astro:assets";
// import { icon_gear } from "@lib";
---

<Layout title="Sistemas de gestión en Excel" header={false} footer={false}>
    <main class="">
        <Soon />
    </main>
</Layout>

<style>
    main{
        width: 100%;
    }
</style>