---
import { HeroSystem } from "@components";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Sistemas de gestión en Excel" header={true} footer={true}>
    <main class="main">
    <HeroSystem />
    </main>
</Layout>

<style>
    .main{
        width: 100%;
    }
</style>