---
import Layout from '../layouts/Layout.astro';
import { Hero, Services } from '@components';
---

<Layout title="Impulsá tu negocio con nosotros!">
    <main>
        <Hero />
        <Services />
    </main>
</Layout>