---
import Layout from '../layouts/Layout.astro';
import { Hero, Services, Pros } from '@components';
---

<Layout title="Impulsá tu negocio con nosotros!">
    <main class="main">
        <Hero />
        <!-- <FreeSheet /> -->
        <Services />
        <Pros />
        <!-- <Contact /> -->
    </main>
</Layout>

<style>
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media screen and (max-width: 1023px){
        .main{
            width: 100%;
        }
    }
</style>