---
import { contact_image, WhatsappIcon, MailIcon, IconInstagram } from "@lib";
import { Image } from "astro:assets";
---

<section class="contact" id="contacto">
    <div class="container">
        <div class="info">
            <h2>Contactanos</h2>
            <div class="list">
                <div class="list-item">
                    <h4>
                        <Image src={WhatsappIcon} class="icon" alt='Icono de whatsapp' />
                        Whatsapp
                    </h4>
                    <ul class="telephons-list">
                        <li>+54 9 381 567-3581</li>
                        <li>+54 9 381 669-8487</li>
                    </ul>
                </div>
                <div class="list-item">
                    <h4>
                        <Image src={MailIcon} class="icon" alt="Icono de mail" />
                        Email
                    </h4>
                    <span>matobconsultoria@gmail.com</span>
                </div>
                <div class="list-item">
                    <h4>Nuestras redes</h4>
                    <ul>
                        <li>
                            <a href="">
                                <IconInstagram/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-image">
            <Image src={contact_image} class="image" alt='Imagen representativa para la seccion de contacto'/>
        </div>
    </div>
</section>

<style>
    .contact{
        width: 100%;
        max-width: 1480px;
        padding: 40px 20px;
    }

    .container{
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        width: 50%;
    }

    .info > h2{
        text-align: center;
        font-size: 45px;
        font-weight: 700;
        color: var(--title);
    }

    .list{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .list-item{
        color: var(--text);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 10px;
    }
    .list-item > h4{
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .list-item > ul{
        list-style: none;
    }

    @media screen and (max-width: 1023px) {
        .container{
            display: flex;
            flex-direction: column;
            gap: 60px;
        }

        .info{
            gap: 40px;
            width: 100%;
        }

        .image{
            animation: none;
            width: 90%;
            height: 90%;
        }
    }
/* 
    @keyframes grow {
        from{
            scale: 1;
        }
        to{
            scale: 1.05
        }
    } */
</style>