---
---

<footer>
    <h4>Diseño y desarrollo por Matob Consultoría</h4>
</footer>

<style>

    footer{
        padding: 15px 0; 
    }

    h4{
        text-align: center;
        color: var(--title);
    }
</style>