---
import logo from '/public/logo_verde-sinfondo.png';
---

<header class="header">
  <div class="logo-container">
    <a href="inicio.html">
      <img src={logo.src} alt="logo de matob" />
    </a>
  </div>
  <nav class="menu">
    <ul>
      <li>
        <a id="inicio" class="link" href="./inicio.html">Inicio</a>
      </li>
      <li id="itemServicios">
        <a
        id="servicios"
        class="link  "
        href="./servicios.html"
        >
        Servicios<i
        class="bi bi-chevron-down"
        style="margin-top: 5px; margin-left: 5px; font-size: 1.3rem;"></i>
      </a>
      <ul id="menuServicios" class="dropdown-invisible">
        <li class="item-1">
          <a class="dropdown-link " href=""
          >Consultoría y gestión</a
          >
        </li>
        <li>
          <a class="dropdown-link" href=""
          >Gestión comercial</a
          >
        </li>
        <li>
          <a class="dropdown-link" href=""
          >Desarrollo web</a
          >
        </li>
        <li class="item-4">
          <a class="dropdown-link" href=""
          >Posicionamiento web</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a
        id="nosotros"
        class="link  "
        href="./nosotros.html">Nosotros</a
      >
    </li>
    <li>
        <a
          id="contacto"
          class="link"
          href="./contacto.html">Contacto</a
        >
      </li>
    </ul>
  </nav>

  <div class="nro-telefono">
    <a href="">
      <i class="bi bi-whatsapp" style="margin-right: 5px;"></i>Contactar
    </a>
  </div>

  <button id="botonMenu" class="boton-menu"><i class="bi bi-list"></i></button>

  <nav id="menuResponsive" class="menu-responsive">
    <ul>
      <li>
        <a class="link  " href="./inicio.html">Inicio</a>
      </li>
      <li>
        <a class="link  " href="./nosotros.html">Nosotros</a>
      </li>
      <li>
        <a class="link  " href="./servicios.html"
          >Servicios</a
        >
      </li>
      <li>
        <a class="link  " href="./contacto.html">Contacto</a>
      </li>
    </ul>
  </nav>
</header>

<script>
  const botonMenu = document.getElementById("botonMenu");
  const menuResponsive = document.getElementById("menuResponsive");

  const itemServicios = document.getElementById("itemServicios");
  const menuServicios = document.getElementById("menuServicios");

  var menu_abierto = false;

  botonMenu?.addEventListener("click", () => {
    if (menu_abierto) {
      menuResponsive?.classList.remove("abierto");
      menu_abierto = false;
    } else {
      menuResponsive?.classList.add("abierto");
      menu_abierto = true;
    }
  });

  itemServicios?.addEventListener("mouseenter", () => {
    menuServicios?.classList.remove("dropdown-invisible");
    menuServicios?.classList.add("dropdown-servicios");
  });

  itemServicios?.addEventListener("mouseleave", () => {
    menuServicios?.classList.remove("dropdown-servicios");
    menuServicios?.classList.add("dropdown-invisible");
  });
</script>

<style>
  .header {
    background: #fff;
    display: flex;
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px 1px #464646;
    z-index: 200;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .logo-container img {
    height: 75px;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu ul {
    font-size: 1.8rem;
    display: flex;
    list-style-type: none;
    height: 100%;
  }

  .menu ul li {
    height: 100%;
  }

  .nro-telefono {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 50px 0 0;
  }

  .nro-telefono a{
    text-align: center;
    background: var(--green-wsp);
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    padding: 15px 0;
    width: 160px;
    border-radius: 20px;
  }
  .nro-telefono a:hover{
    background: #1ca04c;
  }
  .nro-telefono a:active {
    background: var(--green-wsp);
  }


  .menu #itemServicios .dropdown-servicios {
    position: absolute;
    top: 100px;
    left: 380px;
    padding-top: 10px;
    height: max-content;
    background: transparent;
    z-index: 100000;
  }

  .menu .dropdown-servicios::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 15px;
    height: 15px;
    width: 15px;
    background: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }

  .menu .dropdown-invisible {
    display: none;
  }

  .menu .dropdown-servicios {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
  }

  .menu .dropdown-servicios li {
    background: #fff;
    padding: 15px 25px;
    border-bottom: 1px solid #003e4244;
  }

  .menu .dropdown-servicios .item-1 {
    border-radius: 5px 5px 0 0;
  }

  .menu .dropdown-servicios .item-4 {
    border-radius: 0 0 5px 5px;
    border: none;
  }

  .dropdown-servicios .dropdown-link {
    color: var(--color-primary);
    text-decoration: none;
  }

  .link {
    text-decoration: none;
    color: var(--color-primary);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
  }

  .link:hover {
    background: #fafafa;
    border-top: 2px solid var(--color-primary);
  }

  .link:active {
    background: #f3f3f3;
  }

  .boton-menu {
    display: none;
  }

  .menu-responsive {
    display: none;
  }

  .link-selected {
    background: #fafafa;
    border-top: 2px solid var(--color-primary);
  }

  @keyframes mostrarServicios {
    from {
      height: 0;
    }
    to {
      height: max-content;
    }
  }

  /* SMARTPHONE */
  @media screen and (max-width: 767px) {
    .header {
      display: flex;
      justify-content: space-between;
    }

    .logo-container img {
      height: 55px;
    }

    .menu {
      display: none;
    }

    .nro-telefono {
      display: none;
    }

    .boton-menu {
      display: inline;
      align-self: center;
      justify-self: end;
      margin-right: 20px;
      font-size: 3.5rem;
      border: none;
      background: none;
    }

    .boton-menu i {
      color: var(--color-primary);
    }

    .boton-menu i:active {
      color: black;
    }

    .menu-responsive {
      background: #fff;
      display: block;
      position: absolute;
      top: 100px;
      left: 0;
      overflow: hidden;
      width: 100%;
      height: 0;
      z-index: -1;
    }

    .abierto {
      animation: abrirMenu 0.2s ease-in forwards;
    }

    .menu-responsive ul {
      padding: 20px 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }

    .menu-responsive li {
      width: 100%;
      text-align: center;
    }

    .menu-responsive .link {
      display: flex;
      justify-content: center;
    }

    .menu-responsive .link:active {
      border-bottom: 2px solid var(--color-primary);
    }

    .link:hover {
      border: none;
      background: var(--color-primary);
      color: #f3f3f3;
    }
  }

  /* TABLET */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
      display: flex;
      justify-content: space-between;
    }

    .logo-container img {
      height: 55px;
    }

    .menu {
      display: none;
    }

    .nro-telefono {
      display: none;
    }

    .boton-menu {
      display: inline;
      align-self: center;
      justify-self: end;
      margin-right: 20px;
      font-size: 3.5rem;
      border: none;
      background: none;
    }

    .boton-menu i {
      color: var(--color-primary);
    }

    .boton-menu i:active {
      color: black;
    }

    .menu-responsive {
      background: #fff;
      display: block;
      position: absolute;
      top: 100px;
      left: 0;
      overflow: hidden;
      width: 100%;
      height: 0;
      z-index: -1;
    }

    .abierto {
      animation: abrirMenu 0.2s ease-in forwards;
    }

    .menu-responsive ul {
      padding: 20px 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }

    .menu-responsive li {
      width: 100%;
      text-align: center;
    }

    .menu-responsive .link {
      display: flex;
      justify-content: center;
    }

    .menu-responsive .link:active {
      border-bottom: 2px solid var(--color-primary);
    }

    .link:hover {
      border: none;
      background: var(--color-primary);
      color: #f3f3f3;
    }
  }

  @keyframes abrirMenu {
    from {
      height: 0;
    }
    to {
      height: 100vh;
    }
  }
</style>
