---
import { HeroImg } from '@components'
import { Button } from '@lib'
---

<script>
    const heroText: HTMLElement | null = document.getElementById('heroText')

    function esVisible(){
        let rect = heroText?.getBoundingClientRect()
        if (rect) {
            // Chequear si la mitad del contenedor es visible en la ventana
            let windowHeight = window.innerHeight || document.documentElement.clientHeight;
            let middleOfContainer = rect.top + rect.height / 2;
            return middleOfContainer <= windowHeight && middleOfContainer >= 0;
        }  
        return false;
    }

    function handleScroll(){
        if(esVisible()){
            heroText?.classList.add('visible')
        }
    }

    window.addEventListener('scroll', handleScroll)

    handleScroll()

</script>

<section class="hero">
    <div class="content" id="heroText">
        <h1 class="title">Impulsá tu negocio al siguiente nivel!</h1>
        <p class="text">Optimizamos tu negocio con sistemas de gestión hechos en excel, y a la medida de tus necesidades. Soluciones eficaces para empresas pequeñas que buscan crecer.</p>
        <div class="container-button">
            <Button > Quiero saber más!</Button>
            <!-- <button class="button">Quiero saber más</button> -->
        </div>
    </div>
    <div class="hero-img">
        <HeroImg/>
    </div>
</section>

<style>
    .hero{
        max-width: 1480px;
        height: calc(100vh - 60px);
        width: 100%;
        padding-left: 40px;
        display: flex;
        background: rgb(254,254,254);
        background: linear-gradient(109deg, rgba(254,254,254,1) 31%, rgba(227,251,227,1) 100%);
    }

    .hero>div {
        flex: 1;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        row-gap: 20px;
        opacity: 0;
    }

    .title{
        color: var(--title);
        font-weight: 900;
        font-size: 60px;
        @media (max-width: 512px) {
            font-size: 50px;   
        }
    }

    .text{
        color: var(--text);
        font-weight: 400;
        width: 80%;
        line-height: 1.3;
        text-wrap: pretty;
    }

    .container-button{
        width: 80%;
        height: 45px;
    }
    
    .hero-img{
        position: relative;

    }

    .visible{
        opacity: 1;
        transition: 1.1s;
    }

    @media screen and (max-width: 1023px) {

        .hero{
            height: calc(100vh - 60px);
            background-image: linear-gradient(
                to bottom,
                #fefefeb6,
                #fefefeb6,
                #fefefedc,
                #fefefe
                ),
                url('/src/lib/images/banner_nos_1.jpg');
            background-size: cover;
            background-position: center;
            padding: 0;
            display: flex;
            justify-content: center;
        }

        .content{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            padding-top: 150px;
        }

        .title{
            font-size: 55x;
            text-align: center;
        }

        .hero-img{display: none}
    }
</style>