---
import { Image } from "astro:assets";

interface Props {
    src: ImageMetadata
    alt: string
}

const { src, alt } = Astro.props
---

<div class="container-img" >
    <Image class='img' src={src} alt={alt}/>
</div>

<style>
    .container-img{
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img{
        width: 90%;
        height: 90%;
    }
</style>