---
import { TitleCard, ServiceCard } from "@lib";
import servicios from "@services";
---

<section class="services" id="servicios">
    <div class="content">
        <TitleCard title='Nuestros Servicios' side='left'/>
        <div class="cards">
            {servicios.map(servicio => 
                <ServiceCard 
                    src={servicio.src} 
                    alt={servicio.alt}
                    title={servicio.title}
                    text={servicio.text}
                />
            )}
        </div>
    </div>
</section>

<style>
    .services{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
        background: var(--title)
    }

    .content{
        max-width: 1480px;
        display: flex;
        column-gap: 20px;
    }
    .cards{
        flex: 1;
        display: flex;
        justify-content: space-between;
        column-gap: 15px;
    }

    @media screen and (max-width: 1200px) and (min-width: 1024px){
        .content{
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }
    }

    @media screen and (max-width: 1023px){
        .services{
            padding: 40px 0; 
            flex-direction: column;
        }

        .content{
            flex-direction: column;
            row-gap: 20px;
        }

        .cards{
            padding: 0 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 20px;
        }
    }

</style>