---
interface Props { 
    title: string
    src: string
    alt: string
    text: string
}

const { title, src, alt, text } = Astro.props
---
<div class="card">
    <img class="img" src={src} alt={alt}>
    <h3 class="title">{title}</h3>
    <p class="text">{text}</p>
</div>

<style>
    .card{
        flex: 1;
        height:400px;
        border-radius: 10px;
        box-shadow: var(--shadow);
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        padding: 20px;
        background: var(--background);
    }

    .img{
        width: 100px;
        height: 100px;
    }

    .title{
        color: var(--title);
        font-weight: 700;
    }

    .text{
        color: var(--text);
        text-align: center;
    }

    @media screen and (max-width: 1023px){
        .card{
            flex-basis: unset;
            width: 300px;
        }
    }

</style>