---
import { Image } from 'astro:assets'
import { Button, IconArrow } from '@lib'

interface Props { 
    title: string
    src: any
    alt: string
    text: string
}

const { title, src, alt, text } = Astro.props
---
<div class="card" title="Más información">
    <a href="" class="link">
        <Image class="img" src={src} alt={alt} />
        <h3 class="title">{title}</h3>
        <p class="text">{text}</p>
        <div class="container-button">
            <Button>
                Ver más
                <IconArrow width={25} height={25} />
            </Button>
        </div>
    </a>
</div>

<style>
    .card{
        flex: 1;
        height:400px;
        border-radius: 10px;
        box-shadow: var(--shadow);
        background: var(--background);
        transition: 0.3s
    }
    .card:hover{
        scale: 1.01;
    }

    .link{
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        text-decoration: none;
    }

    .img{
        width: 100px;
        height: 100px;
    }

    .title{
        color: var(--title);
        font-weight: 700;
    }

    .text{
        color: var(--text);
        text-align: center;
    }

    .container-button{
        margin-top: auto;
        width: 120px;
        height: 40px;
    }

    @media screen and (max-width: 1023px){
        .card{
            flex-basis: unset;
            width: 300px;
        }
    }

</style>