---
interface Props {
    title: string
    side: 'left' | 'right'
}

const { title, side } = Astro.props
---

<div class=`container`>
    <h2 class=`title ${side}`>{title}</h2>
</div>

<style>
    .container{
        background: var(--bg-button);
        height: 280px;
        width: 300px;
        display: flex;
        justify-content: end;
        align-items: end;
        padding: 15px;
        border-radius: 10px;
        box-shadow: var(--shadow-md);
    }

    .title{
        font-size: 45px;
        font-weight: 700;
        color: var(--title);
    }
    .left{text-align: end;}
    .right{text-align: start}
</style>