---
import '../config/global.css'
import { Header, Footer } from '@components';

interface Props {
	title: string;
	header: boolean
	footer: boolean
}

const { title, header, footer } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Impulsá tu negocio con MATOB Consultoria. Creamos sistemas de gestión en excel para agilizar y automatizar todos tus procesos. Te ayudamos a posicionarte en la web a través del desarrollo de tu sitio web." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/icons/matob_icono.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		{header && <Header />}
		<slot />
		{footer && <Footer />}
	</body>
</html>

