---
import '../config/global.css'
import { ViewTransitions } from 'astro:transitions';
import { Header, Footer } from '@components';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" transition:animate="none">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Impulsa tu negocio con MATOB Consultoria. Creamos sistemas de gestión en excel para agilzar y automatizar tus procesos" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/icons/matob_icono.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

